body {
    font-family: 'Poppins', sans-serif;
    
}
/*-----------------
    header-section
-------------------*/
.header {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}
.header-section {
   background: black;
    color: #ffffff;
    width: 1321px;
    height: 646px;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    border-radius: 25px;
}
.main-container {
    margin-top: 50px;
    margin-left: 60px;
    width: 531px;
    height: 424px;
}
.main-container h1 {
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: 900;
}
.main-container p {
    margin-bottom: 30px;
}
.main-container a {
    text-decoration: none;
    background-color: #dd0000;
    color: #ffffff;
    padding: 10px 15px;
    font-size: 20px;
    
}
.header-image {
    display: flex;
    align-items: stretch;
}

/*----------------
    blog-area
-----------------*/
.article-section {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    
    
    
}
.side-blog {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-right: 21px;
  
}

.blog-containt a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: #ffffff;
    color: black;
    font-size: 20px;
    font-weight: 500;
    width: 200px;
    padding: 15px;
    margin-top: 25px;
    border-radius: 7px;
}
#selected-blog {
    background-color: #dd0000;
    color: #ffffff;
}
.main-article {
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
.blog-info {
    border: 1px solid rgb(243, 235, 235);
    border-radius: 10px;
}
.blog-info img {
    margin-bottom: 30px;
}
.transfer {
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px 17px;
    font-size: 17px;
}
