
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', 'Roboto', 'sans-serif';
     
}
.container{
    width: 70%;
    margin: 0 auto;
}
/*-------------------------------
          Header section 
 -------------------------------*/

 .header-section{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    background-color: #161616;
    color: #fff;
    height: 646px;
    width: 70%;
    border-radius: 30px;
    margin-top: 50px;
    padding: 50px;
    overflow: hidden;
}
.header-container {
    margin-left: 20px;
}
.header-container h1 {
    font-size: 90px;
    line-height: 1.1em;
    margin-bottom: 20px;
}
.header-container p {
    font-size:16px;
    line-height: 30px;
    margin-bottom: 40px;
}
.header-container a {
    text-decoration: none;
    font-weight: 500;
    background-color: #c4001d;
    color: #fff;
    padding: 15px 45px;
    border-radius: 5px;
    cursor: pointer; 
    border: 2px solid #c4001d;
    position: relative; 
}
.header-container span {
    margin-left:10px;
}
.header-img img{
    height: 613px;
    width:581px ;
}
/*---------------------------
        Match Section 
 ---------------------------*/

.match-details{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 30px;
    margin-top: 80px;
}

.upcoming-match {
    background-color: #161616;
    border-radius: 10px;
    padding: 10px;
    height: 350px;
}
.upcoming-match a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    color: #161616;
    margin: 30px 25px 0 25px;
    padding: 15px 10px;
    border-radius: 10px;
    font-size: 1.4em;
    font-weight: 500;
}
#active-blog {
    background-color: #c4001d;
    color: #ffffff;
}

.all-blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.blog-details {
    padding: 15px;
    margin-top: -5px;
    border-radius: 10px;
}
.blog-image img {
    width: 100%;
   
}
.article-details {
    border: 1px solid #dddddd;
    border-radius: 10px;
    width: 100%;
}
.transfer {
    padding: 5px 15px;
    display: inline-block;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 22px;
    font-size: 17px;
    font-weight: 500;
}
.blog-details h3 {
    font-size: 17px;
    margin-bottom: 15px;
    color: #161616;
}

.blog-info{
    font-size: 17px;
    display: flex;
    gap: 30px;
    font-weight: 500;
    color: #464646;
}
.fa-regular{
    margin-right: 5px;
}

.view-item{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.view-all{
    display: inline-block;
    text-decoration: none;
    background-color: #c4001d;
    color: #ffffff;
    text-align: center;
    padding: 10px 35px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 7px;
    opacity: 0;
}

/*--------------------------
       Footer Area 
  -------------------------*/

.footer {
    background-color: #161616;
    color: #ffffff;
    width: 100%;
    margin-top: 110px;
    padding: 80px;
}
.footer-top h3 {
    font-size: 2.5em;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    margin-bottom: 60px;
}
hr{
    border: 1px solid #2d2d2d;
}
.footer-buttom {
    text-align: center;
    font-size: 17px;
    padding: 50px;
}
.footer-buttom nav ul li{
    display: inline-block;
    list-style: none;
}
.footer-buttom nav ul li a{
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    margin-bottom: 5px;
    text-align: center;
}
.social-link h2 {
    text-align: center;
}
.click {
    text-align: center;
}
.social-link span a i{
    height: 50px;
    width: 50px;
    padding-top: 15px;
    margin-left: 5px;
    font-size: 20px;
    margin-top: 30px;
    background-color: #4d4c4c;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;  
}

.social-link span a i:hover {
    background-color: #c4001d;
}


/* Media Query */

/* Tablets */

@media screen and (min-width: 768px) and (max-width:1023px) {
    .header-section {
        height: 620px;
        padding: 5px;
    }
    .header-container h1 {
        font-size: 45px;
        font-weight: 800;
    }
    .header-container p{
        font-size: 14px;
        width: 300px;
    }
    .hheader-container a {
        padding: 10px;
    }
    .header-img img {
        height: 610px;
        width: 280px;
    }
    .match-details {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        margin-top: -5px;
    }
    .upcoming-match {
        background-color: #ffffff;
        height: inherit;
    }
    
    .upcoming-match a {
        border: 1px solid #999999;
        font-size: 15px;
        padding: 20px 40px ;
        justify-content: space-between;
        margin-bottom: 30px;
    }
   .upcoming-match-details {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        width: 100%;  
   }
    .all-blogs{
        grid-template-columns: repeat(2,1fr);
    }
    .article-details:last-child{
        display: none;
    }

    .view-all {
        opacity: 1;
        margin-top: 50px;
    }
   
   .footer-buttom nav ul li {
        display: flex;
        justify-content: center;
        white-space: nowrap;
        flex-direction: row;  
    }
    .footer-buttom ul li a {
        width: 300px;
        margin-left: -42px;
    }
    .footer-buttom ul li a:first-child{
        margin-left: -0;
    }

    }

/* Media Query */

/* Mobile Phone */

@media screen and (min-width: 320px) and (max-width:767px){
    .header-section {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 10px;
        text-align: center;
        height: 600px;
    }
    .header-container h1 {
        font-size: 30px;
        line-height: 40px;
        font-weight: 800;
    }
    .header-container p {
        display: flex;
        font-size: 17px;
        width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-bottom: 30px;
    }
    .header-container a {
        padding: 15px 30px;
        font-size: 18px;
        margin-bottom: 10px;
    }
    .header-container span{
        font-size: 16px;
        align-items: center;
    }
    .header-img img {
        margin-top: 23px;
        height: 340px;
        width: 100%;
        margin-left: 3px;
    }
    .all-blogs{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .match-details {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }
    .upcoming-match {
        background-color: #ffffff;
        height: inherit;
        margin-bottom: 30px;
    }
    .upcoming-match a{
        border: 1px solid #ddd;
        padding: 10px 20px; 
    }
    .footer-buttom nav ul li{
        display: flex;
        flex-direction: column;
          
    }
    .footer-buttom ul li a {
        width: 200px;
        margin-left: -40px;
    }
}